

.item-list-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 5vh 0;
}

.item-list-container2 {
  display: flex;
  justify-content: center;
  width: 100%;
  /*padding: 5vh 0;*/
  margin-top: 10px;
}



.btn-pagination{
  display: flex;
  justify-content: center;
}

.btn-pagination>button{
    margin: 0 2px;
    padding: 5px 10px;
    border: none;
    color: gray;
}

.btn-pagination>button:focus{
    margin: 0 2px;
     background-color:var(--live-orange-color)!important;
     color: white;
}


.btn-sucursal>button{
  margin: 0 5px;
  padding: 4px 0;
  width: 220px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;

}

@media (max-width:700px){
  .btn-sucursal>button{
       width: 120px;
  }
}

button:focus{
  background-color:white;
  border: none;
}


.Active{
   background-color:var(--live-orange-color)!important;
   color: black;
}

.no-Active{
   background-color:white;
    color: gray;
}

.siguiente{
  font-size: 14px;
  padding-bottom: 10px;
}

.d-none{
  display: none;
}
.infoSliceContainer{
  text-align: center;
  font-family:serif;
}





.filters{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filters>label{
  margin-left: 20px;
  margin-right: 8px;
   color: gray!important;
}

.filters>input{
  width: 10%!important;
  text-align: center;
  margin: 0!important;
}

.filters>input::focus{

}

@media(max-width:900px){
  .filters{
    flex-direction: column;
  }
  .filters>label{
    width: 100%;
    margin: 0;
  }

  .filters>input{
    width: 100%!important;
    text-align: center;
  }
}